build/
testes/
.settings
composer.lock
.project
.buildpath
.~lock.*
.idea
.o
*.txt
tools/compileTemp.log
bubblesort.txt
insertionsort.txt
selectionsort.txt

#############################
# Arquivos Gerados pelo OSX #
#############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
