build/
testes/
.settings
composer.lock
.project
.buildpath
.~lock.*
.idea
.o
tools/compileTemp.log

#############################
# Arquivos Gerados pelo OSX #
#############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
